<form #f="ngForm">
  <ul class="genreRows">
    <li *ngFor="let genre of backendService.allGenres" class="gengeRow">
      <div>{{genre}}</div>
      <input name="{{genre}}" (change)="onChangeCheckbox($event, f)" [(ngModel)]="backendService.currentGenres[genre]" type="checkbox"/>
      <span></span>
    </li>
  </ul>
</form>
