<div class="formSearch">
  <button (click)="goBack()" class="back"></button>
  <input (keyup.enter)="searchSong(searchValue)" name="searchInput" [(ngModel)]="searchValue" class="inputBpmOrKm"/>
  <label class="labelBpmOrKm">{{searchType}}</label>
</div>
<ul class="search_snippets">
  <li (click)=playSongs(song) *ngFor="let song of songsList" class="search_snippet">
    <div class="title_of_song search_result_snippet_width_of_label">{{song.name}}</div>
    <div class="title_of_band">{{song.author}}</div>
    <div class="bpm_of_song">{{song.bpm}}</div>
  </li>
</ul>
