<div class="block">
  <div class="title">{{speed}}</div>
  <div class="icon_and_units">
    <div class="icon steps"></div>
    <div class="units">Speed</div>
  </div>
</div>
<button (click)="searchSong()" class="search_button"></button>
