* {
  transition: all 0.4s;
  box-sizing: border-box;
}

router-outlet {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #424c62;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
}

navigation {
  width: 100vw;
  height: 72px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ecedef;
  top: 0;
  position: absolute;
}

navigation a {
  width: 33.33vw;
  height: 100%;
}

.heart_rate {
  background-image: url("./assets/heart_gray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.heart_rate.active {
  background-image: url("./assets/heart_green.svg");
}

.running {
  background-image: url("./assets/running_gray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.running.active {
  background-image: url("./assets/running_green.svg");
}

.tags {
  background-image: url("./assets/tags_gray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tags.active {
  background-image: url("./assets/tags_green.svg");
}

.data {
  background: #fff;
  width: 100vw;
  height: 260px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -36px;
  top: 50%;
  position: absolute;
  margin-top: -166px;
}

.block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title {
  font-size: 160px;
  font-weight: 100;
  text-align: right;
  padding: 0 8px;
}

.icon_and_units {
  padding: 0 8px;
}

.icon {
  width: 56px;
  height: 56px;
  background: url("./assets/heart_big.svg");
  background-repeat: no-repeat;
  margin-top: 36px;
  -webkit-animation: heartAnime 1s ease infinite;
  animation: heartAnime 1s ease infinite;
}

.icon.steps {
  background: url("./assets/steps_two.svg");
}

.units {
  font-size: 20px;
  margin-top: 42px;
  letter-spacing: 2px;
  text-align: center;
}

.search_button {
  height: 56px;
  width: 264px;
  background: #4dbfbf url("./assets/search.svg") no-repeat center;
  border-radius: 28px;
}

.player {
  background: #fff;
  border-top: 1px solid #ecedef;
  width: 100vw;
  height: 96px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0
}

.titles {
  padding-left: 24px;
}

.title_of_song {
  font-size: 14px;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0px;
  line-height: 20px;
}

.title_of_band {
  font-size: 14px;
  opacity: 0.5;
  line-height: 20px;
  font-weight: 600;
}

.bpm_of_song {
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
}

.player_buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding-right: 16px;
}

.play_and_pause {
  width: 48px;
  height: 48px;
  background: url("./assets/play.svg");
  margin: 8px;
}

.play_and_pause.pause {
  background: url("./assets/pause.svg");
}

.next_track {
  width: 32px;
  height: 32px;
  background: url("./assets/next_track.svg");
  background-repeat: no-repeat;
  margin: 8px;
}

button {
  border: none;
}

button:hover {
  border: none;
  box-shadow: none;
}

@-moz-keyframes heartAnime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes heartAnime {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes heartAnime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartAnime {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.gengeRow {
  list-style: none;
  height: 72px;
  line-height: 72px;
  padding-left: 24px;
  font-size: 16px;
  border-bottom: 0.5px solid #ecedef;
}

.genreRows {
  margin: 0px;
  padding: 0px;
  margin-top: 72px;
}

.search_snippet {
  height: 96px;
  border-bottom: 0.5px solid #ecedef;
  margin: 0px;
  padding: 0px;
  padding-left: 24px;
  padding-top: 17px;
}

.search_snippets {
  margin: 0px;
  padding: 0px;
}

.gengeRow input {
  /*display: none;*/
  opacity: 0;
  position: absolute;
  margin-top: -72px;
  width: 100vw;
  height: 72px;
}


.gengeRow span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("./assets/check_off.svg");
    position: absolute;
    right: 24px;
    margin-top: -46px;
}

.gengeRow input:checked + span {
  background: url("./assets/check_on.svg");
  position: absolute;
}

.back {
  width: 72px;
  height: 72px;
  background: url("./assets/back.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.inputBpmOrKm {
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  margin-top: 18px;
  width: 50px;
}


.formSearch {
  border-bottom: 1px solid #ecedef;
}

.labelBpmOrKm {
  font-size: 24px;
  font-weight: 300;
  opacity: .5;
  position: absolute;
  margin-top: 21px;
  margin-left: 48px;
}

.search_result_snippet_width_of_label {
  width: 320px;
}
