<div class="player">
  <div class="titles">
    <div class="title_of_song">{{soundManagerService.currentSong?.name}}</div>
    <div class="title_of_band">{{soundManagerService.currentSong?.author}}</div>
    <div class="bpm_of_song">{{soundManagerService.currentSong?.bpm}} BPM</div>
  </div>
  <div class="player_buttons">
    <button [ngClass]="{pause: soundManagerService.isPlaying}" class="play_and_pause" (click)="togglePlayPause()"></button>
    <button class="next_track" (click)="next()"></button>
  </div>
</div>
