<a class="heart_rate" routerLinkActive="active" [routerLink]="['./heart-rate']"></a>
<a class="running" routerLinkActive="active" [routerLink]="['./running']"></a>
<a class="tags" routerLinkActive="active" [routerLink]="['./tags']"></a>
