<div class="block">
  <div class="title">{{bpm}}</div>
  <div class="icon_and_units">
    <div class="icon"></div>
    <div class="units">BPM</div>
  </div>
</div>
<button (click)="searchSong()" class="search_button"></button>
